.footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  width: 100%;
  height: 16px;
  opacity: 1;
  top: 1340px;
  left: 668px;
  margin: 0 auto;
  padding: 60px 0;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}