.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__preview-container {
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

.modal__close-button_type_preview {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: -52.5px;
  background-image: url(../images/Group\ 27.svg);
  background-size: 24px 24px;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.modal__close-button_type_preview:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__preview-caption {
  width: 198px;
  height: 24px;
  margin-top: 10px;
  margin-right: auto;
  font-size: 13px;
  color: #fff;
  text-align: left;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.modal__preview-image {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  object-fit: contain;
  opacity: 1;
  top: 81px;
  left: 224px;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  margin: 0;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/X.svg);
  background-color: transparent;
  opacity: 0.4;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border: solid 1px rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  width: 100%;
  padding: 16px 12px 16px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  height: 52px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: none;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
    width: 300px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__form {
    width: 276px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    width: 100%;
    box-sizing: border-box;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 276px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__close-button_type_preview {
    right: 0;
    top: -48px;
  }

  .modal__preview-image {
    max-width: 100%;
    max-height: 60vh;
  }

  .modal__preview-caption {
    font-size: 13px;
    margin-top: 8px;
  }

  .modal__preview-container {
    width: 95%;
    padding: 12px;
  }
}
